# Environment variables
.env
src/.env
**/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
container_log.txt

# OS specific
.DS_Store
Thumbs.db
.archive
.HF_TOKEN
.hf_token
.archive
doc.txt
cog_stub.py