# ---------- PyTorch CUDA 12.1 wheels ----------
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.1
torchaudio==2.3.1

# --- Core ASR stack ---
whisperx==3.3.1
faster-whisper==1.1.0
ctranslate2==4.4.0

# --- Diarization ---
pyannote.audio==3.3.2         # для speaker-diarization-3.1 (>=3.1)
sentencepiece>=0.1.99

# --- Lightning stack (совместимо с pyannote.audio 3.3.x) ---
lightning==2.4.0
torchmetrics>=1.4,<2

# --- Utils ---
pydub==0.25.1
numpy             # совместимо с torchmetrics
huggingface-hub>=0.33,<0.35
#transformers<4.45
python-dotenv>=1.0
requests>=2.31.0


# --- Runpod SDK ---
runpod==1.7.13

# (Опционально, ускорение загрузок HF)
hf-transfer==0.1.9
